.container {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.searchContainer {

  flex: 0 1 auto;

  width: 100%;
  border-bottom: 2px solid #303030;

  display: flex;

  button {
    margin: 10px 10px 10px 5px;
  }

  input {
    margin: 10px 0 10px 10px;
  }
}

.listContainer {
  flex: 0 1 auto;
  overflow-y: auto;
}